In [1]:
import pandas as pd
import numpy as np
import re

# 1. Primeira base de dados
## 1.1. Identificando problemas na base de dados
Os problemas identificados foram:
1. Existem registros com valores vazios;
2. Números não estão com tipo correto (float ou int).

In [2]:
fundamental_data = pd.read_csv('dados_fudamentalistas.csv')

In [3]:
fundamental_data.head()

,Ano,D.Y,P/L,PEG RATIO,P/VP,EV/EBITDA,EV/EBIT,P/EBITDA,P/EBIT,VPA,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,ATUAL,"2,16%","52,51","0,21","3,62","18,83","26,84","16,68","23,76","3,28",...,"32,46%","14,69%","6,90%","2,44%","4,62%","0,17",-%,-%,ARML3,acoes
1,2021,"0,26%","155,96",-,"8,14","50,52","71,83","49,20","69,96","3,22",...,"33,21%","14,90%","5,22%","1,77%","3,24%","0,12",-%,-%,ARML3,acoes
2,2020,-%,-,-,-,-,-,-,-,-,...,"35,78%","15,75%","20,61%","4,08%","8,48%","0,26",-%,-%,ARML3,acoes
3,ATUAL,"2,90%","4,63","0,28","0,83","4,96","5,29","4,91","5,23","5,09",...,"15,05%","17,02%","17,99%","11,86%","12,72%","0,70",-%,-%,MLAS3,acoes
4,2021,-%,"8,84",-,"1,71","7,94","8,34","8,39","8,80","4,89",...,"16,06%","15,98%","19,33%","11,60%","15,44%","0,73",-%,-%,MLAS3,acoes

In [4]:
fundamental_data.dtypes

Ano                     object
D.Y                     object
P/L                     object
PEG RATIO               object
P/VP                    object
EV/EBITDA               object
EV/EBIT                 object
P/EBITDA                object
P/EBIT                  object
VPA                     object
P/ATIVO                 object
LPA                     object
P/SR                    object
P/CAP.GIRO              object
P/ATIVO CIRC. LIQ.      object
Dív. líquida/PL         object
Dív. líquida/EBITDA     object
Dív. líquida/EBIT       object
PL/Ativos               object
Passivos/Ativos         object
Liq. corrente           object
M. Bruta                object
M. EBITDA               object
M. EBIT                 object
M. Líquida              object
ROE                     object
ROA                     object
ROIC                    object
Giro ativos             object
CAGR Receitas 5 anos    object
CAGR Lucros 5 anos      object
Ticker                  object
Tipo                    object
dtype: object

In [5]:
fundamental_data['Ano'].unique()

array(['ATUAL', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013'], dtype=object)

In [6]:
unique_vals = set()
for col in fundamental_data.columns:
    if col in ['Ano', 'Ticker', 'Tipo']:
        continue
    
    for val in fundamental_data[col]:
        if not re.search("^-?[0-9]*\,[0-9]*\%?$", val):
            unique_vals.add(val)

In [7]:
unique_vals

{'-',
 '-%',
 '-1.004,53%',
 '-1.005,66%',
 '-1.014,84',
 '-1.015,48%',
 '-1.016,58%',
 '-1.032,75%',
 '-1.044,54',
 '-1.053,24%',
 '-1.054,37',
 '-1.064,16',
 '-1.071,76',
 '-1.073,19',
 '-1.076,68',
 '-1.088,26',
 '-1.099,57',
 '-1.106,88',
 '-1.119,50%',
 '-1.125,43',
 '-1.126,97%',
 '-1.127,23',
 '-1.127,30',
 '-1.128,74',
 '-1.131,88',
 '-1.147,33',
 '-1.152,30',
 '-1.160,75%',
 '-1.163,77',
 '-1.168,96%',
 '-1.169,86',
 '-1.173,70',
 '-1.192,16',
 '-1.195,67',
 '-1.209,05',
 '-1.216,01',
 '-1.222,24%',
 '-1.223,72%',
 '-1.224,01',
 '-1.229,51%',
 '-1.232,04%',
 '-1.250,36',
 '-1.256,56',
 '-1.268,03',
 '-1.272,92',
 '-1.287,47',
 '-1.293,50',
 '-1.303,60%',
 '-1.308,47%',
 '-1.323,66',
 '-1.333,35',
 '-1.349,12%',
 '-1.371,21%',
 '-1.389,01',
 '-1.391,71%',
 '-1.410,02%',
 '-1.417,65',
 '-1.417,97',
 '-1.419,82%',
 '-1.424,72%',
 '-1.428,81%',
 '-1.453,35',
 '-1.475,15',
 '-1.487,36%',
 '-1.522,17',
 '-1.525,41',
 '-1.572,59%',
 '-1.578,97%',
 '-1.581,50%',
 '-1.591,90%',
 '-1.603,23',
 '-1.604,02',
 '-1.605,91',
 '-1.616,17%',
 '-1.618,28%',
 '-1.622,60%',
 '-1.629,98%',
 '-1.632,93',
 '-1.634,60%',
 '-1.641,88%',
 '-1.660,05',
 '-1.676,51%',
 '-1.679,25%',
 '-1.679,84',
 '-1.692,26',
 '-1.701,88%',
 '-1.714,63%',
 '-1.730,83',
 '-1.730,84%',
 '-1.737,60',
 '-1.754,80%',
 '-1.758,49',
 '-1.764,31%',
 '-1.770,03',
 '-1.833,53%',
 '-1.848,42%',
 '-1.868,34',
 '-1.869,25%',
 '-1.899,39%',
 '-1.924,16',
 '-1.947,34',
 '-1.999,37',
 '-10.404,35%',
 '-10.958,32%',
 '-11.136,73%',
 '-11.141,78%',
 '-11.372,69%',
 '-12.811,13',
 '-12.910,63',
 '-121.298,41',
 '-13.330,77%',
 '-134.770,27%',
 '-137.975,93',
 '-14.597,00',
 '-140.574,01',
 '-16.313,45',
 '-17.101,76%',
 '-17.560,26%',
 '-17.572,55%',
 '-18.791,47%',
 '-19.145,70',
 '-2.021,67',
 '-2.052,98',
 '-2.123,53%',
 '-2.146,93%',
 '-2.167,36',
 '-2.230,78%',
 '-2.232,89',
 '-2.295,20%',
 '-2.341,89%',
 '-2.348,55',
 '-2.352,94%',
 '-2.363,77',
 '-2.418,21',
 '-2.431,23%',
 '-2.454,42',
 '-2.487,37',
 '-2.489,75',
 '-2.537,57',
 '-2.568,81',
 '-2.576,29%',
 '-2.588,54',
 '-2.626,49%',
 '-2.662,30',
 '-2.679,24%',
 '-2.717,88%',
 '-2.729,73',
 '-2.739,37',
 '-2.778,57%',
 '-2.835,61%',
 '-2.875,53%',
 '-2.877,65',
 '-2.888,04',
 '-2.896,91',
 '-2.899,23',
 '-2.961,95',
 '-2.963,62',
 '-2.988,05',
 '-2.990,56%',
 '-21.614,29%',
 '-21.621,72%',
 '-22.498,69',
 '-23.682,08',
 '-3.030,84',
 '-3.112,50%',
 '-3.145,45%',
 '-3.200,44%',
 '-3.250,49%',
 '-3.258,94%',
 '-3.295,39',
 '-3.296,40%',
 '-3.296,48%',
 '-3.299,09',
 '-3.306,68%',
 '-3.345,67',
 '-3.373,33%',
 '-3.397,96',
 '-3.460,55',
 '-3.485,69',
 '-3.494,54',
 '-3.505,17',
 '-3.511,65',
 '-3.530,94%',
 '-3.720,56',
 '-3.732,78%',
 '-3.745,44',
 '-3.837,98%',
 '-3.910,65',
 '-3.963,32%',
 '-3.965,87',
 '-3.975,25%',
 '-31.589,06%',
 '-32.436,84',
 '-33.908,74%',
 '-34.389,32%',
 '-37.017,48%',
 '-4.079,70%',
 '-4.145,13',
 '-4.195,22%',
 '-4.289,44%',
 '-4.327,19',
 '-4.411,58',
 '-4.688,21%',
 '-4.710,51%',
 '-4.724,45%',
 '-4.730,32%',
 '-4.804,43%',
 '-4.815,33%',
 '-4.866,20%',
 '-4.886,09%',
 '-4.920,31%',
 '-4.930,18%',
 '-4.931,66%',
 '-4.949,57',
 '-40.612,81',
 '-5.063,41',
 '-5.303,87%',
 '-5.374,49',
 '-5.425,52%',
 '-5.648,63',
 '-5.650,88%',
 '-5.701,56',
 '-5.794,61%',
 '-5.824,15',
 '-50.918,54%',
 '-58.700,68%',
 '-59.277,09%',
 '-6.025,80%',
 '-6.163,44',
 '-6.189,43%',
 '-6.357,42%',
 '-6.363,36%',
 '-6.517,35%',
 '-6.536,36%',
 '-6.973,16%',
 '-7.138,59',
 '-7.182,96%',
 '-7.230,92%',
 '-7.510,49',
 '-7.919,81',
 '-8.016,17',
 '-8.098,91%',
 '-8.103,87',
 '-8.107,08',
 '-8.256,95',
 '-8.675,46%',
 '-87.837,51%',
 '-88.193,23%',
 '-9.509,99',
 '-9.626,30%',
 '1.000,14',
 '1.000,98',
 '1.003,09%',
 '1.007,99',
 '1.013,79',
 '1.022,13',
 '1.030,34',
 '1.035,26',
 '1.039,30',
 '1.053,21',
 '1.055,19',
 '1.057,40',
 '1.063,03',
 '1.064,26',
 '1.069,14%',
 '1.076,58%',
 '1.077,98',
 '1.083,90',
 '1.113,21',
 '1.118,69%',
 '1.120,27',
 '1.130,11%',
 '1.131,96',
 '1.137,73',
 '1.138,60',
 '1.144,98',
 '1.168,35',
 '1.181,57%',
 '1.195,08',
 '1.196,22',
 '1.196,58',
 '1.199,11',
 '1.201,28',
 '1.204,04',
 '1.209,00',
 '1.209,05',
 '1.210,75',
 '1.213,57%',
 '1.216,33',
 '1.226,19%',
 '1.232,60',
 '1.246,72',
 '1.249,34%',
 '1.253,43',
 '1.255,06',
 '1.263,24%',
 '1.263,64',
 '1.269,03',
 '1.271,70',
 '1.278,52',
 '1.281,49',
 '1.286,59',
 '1.286,82',
 '1.290,97',
 '1.296,42',
 '1.307,05',
 '1.323,81',
 '1.331,84',
 '1.350,85%',
 '1.353,45',
 '1.363,83',
 '1.393,01',
 '1.402,37',
 '1.406,27',
 '1.415,72',
 '1.445,87',
 '1.491,42',
 '1.532,71',
 '1.542,70',
 '1.542,88',
 '1.558,45',
 '1.563,14',
 '1.595,92',
 '1.596,49',
 '1.602,42',
 '1.604,61%',
 '1.616,70',
 '1.619,99%',
 '1.620,99',
 '1.623,75',
 '1.660,94',
 '1.712,99',
 '1.718,27',
 '1.727,55',
 '1.741,94',
 '1.828,96',
 '1.846,77',
 '1.887,47%',
 '1.899,39%',
 '1.952,52',
 '1.965,92',
 '1.978,90',
 '10.033,00',
 '10.034,61',
 '10.747,85',
 '10.749,14',
 '102.721,39',
 '106.951,24',
 '11.151,43%',
 '11.273,89%',
 '11.624,33%',
 '12.083,23',
 '12.934,07',
 '14.025,87',
 '14.425,61%',
 '14.636,18',
 '15.123,91%',
 '15.163,53%',
 '15.533,66%',
 '16.564,02',
 '17.509,59',
 '17.800,10',
 '18.260,97',
 '18.854,33',
 '18.867,78%',
 '18.896,58%',
 '19.010,67',
 '2.023,08%',
 '2.032,13',
 '2.056,48',
 '2.076,22%',
 '2.108,22',
 '2.119,73',
 '2.124,47',
 '2.136,15',
 '2.163,23',
 '2.211,73',
 '2.259,76',
 '2.267,79',
 '2.270,52',
 '2.292,03',
 '2.297,43',
 '2.304,66%',
 '2.308,31',
 '2.328,69',
 '2.338,44',
 '2.348,08',
 '2.353,21',
 '2.354,53',
 '2.368,09',
 '2.385,31',
 '2.385,45',
 '2.397,19',
 '2.402,19',
 '2.458,86',
 '2.463,31',
 '2.532,50%',
 '2.544,67',
 '2.566,84',
 '2.598,92%',
 '2.629,43',
 '2.749,78%',
 '2.789,11',
 '2.795,15',
 '2.798,63%',
 '2.843,30',
 '2.999,09%',
 '20.910,47',
 '21.076,44',
 '21.531,66',
 '24.318,68',
 '24.348,09',
 '26.148,77%',
 '29.223,25',
 '3.005,38',
 '3.011,57',
 '3.020,91',
 '3.083,90',
 '3.085,55%',
 '3.107,79',
 '3.158,36%',
 '3.171,99',
 '3.178,31',
 '3.183,57%',
 '3.218,64%',
 '3.232,17',
 '3.321,68',
 '3.365,41',
 '3.371,97',
 '3.480,26',
 '3.487,55',
 '3.535,36',
 '3.535,87',
 '3.627,22',
 '3.695,47',
 '3.745,44',
 '3.790,34',
 '3.802,39',
 '3.828,65',
 '3.854,94',
 '3.875,93%',
 '3.888,21',
 '3.891,46',
 '3.995,84',
 '334.750.699,57',
 '38.870,00%',
 '39.650,85',
 '4.005,26',
 '4.013,00%',
 '4.013,62',
 '4.113,86',
 '4.127,64',
 '4.239,65',
 '4.266,82',
 '4.440,12',
 '4.596,56',
 '4.637,73',
 '4.672,37',
 '4.732,40',
 '4.757,41%',
 '4.802,36',
 '4.812,75',
 '4.835,86',
 '4.873,56%',
 '4.886,66%',
 '4.913,34%',
 '40.454,77',
 '42.575,26',
 '44.345,38',
 '44.648,04',
 '47.722,32',
 '48.341,42',
 '49.400,83',
 '49.816,98',
 '5.249,52',
 '5.257,76',
 '5.259,98',
 '5.277,91%',
 '5.324,59',
 '5.334,00',
 '5.484,21%',
 '5.523,07%',
 '5.573,17%',
 '5.581,46%',
 '5.810,08%',
 '5.853,36%',
 '5.891,54',
 '5.987,52',
 '5.999,86',
 '55.552,59%',
 '6.052,68',
 '6.066,93',
 '6.705,44',
 '66.862,94',
 '7.176,43',
 '7.191,48',
 '79.221,03',
 '8.016,17',
 '8.109,55',
 '8.110,33',
 '8.492,27%',
 '9.314,09%'}

## 1.2. Remover caracteres '%' e '.'

In [8]:
fundamental_data = fundamental_data.applymap(lambda x: x.replace('%',''))

In [9]:
fundamental_data = fundamental_data.applymap(lambda x: x.replace('.',''))

In [10]:
fundamental_data.head()

,Ano,D.Y,P/L,PEG RATIO,P/VP,EV/EBITDA,EV/EBIT,P/EBITDA,P/EBIT,VPA,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,ATUAL,"2,16","52,51","0,21","3,62","18,83","26,84","16,68","23,76","3,28",...,"32,46","14,69","6,90","2,44","4,62","0,17",-,-,ARML3,acoes
1,2021,"0,26","155,96",-,"8,14","50,52","71,83","49,20","69,96","3,22",...,"33,21","14,90","5,22","1,77","3,24","0,12",-,-,ARML3,acoes
2,2020,-,-,-,-,-,-,-,-,-,...,"35,78","15,75","20,61","4,08","8,48","0,26",-,-,ARML3,acoes
3,ATUAL,"2,90","4,63","0,28","0,83","4,96","5,29","4,91","5,23","5,09",...,"15,05","17,02","17,99","11,86","12,72","0,70",-,-,MLAS3,acoes
4,2021,-,"8,84",-,"1,71","7,94","8,34","8,39","8,80","4,89",...,"16,06","15,98","19,33","11,60","15,44","0,73",-,-,MLAS3,acoes

## 1.3. Substituir caracteres ',' por '.'

In [11]:
fundamental_data = fundamental_data.applymap(lambda x: x.replace(',','.'))

In [12]:
fundamental_data.head()

,Ano,D.Y,P/L,PEG RATIO,P/VP,EV/EBITDA,EV/EBIT,P/EBITDA,P/EBIT,VPA,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,ATUAL,2.16,52.51,0.21,3.62,18.83,26.84,16.68,23.76,3.28,...,32.46,14.69,6.90,2.44,4.62,0.17,-,-,ARML3,acoes
1,2021,0.26,155.96,-,8.14,50.52,71.83,49.20,69.96,3.22,...,33.21,14.90,5.22,1.77,3.24,0.12,-,-,ARML3,acoes
2,2020,-,-,-,-,-,-,-,-,-,...,35.78,15.75,20.61,4.08,8.48,0.26,-,-,ARML3,acoes
3,ATUAL,2.90,4.63,0.28,0.83,4.96,5.29,4.91,5.23,5.09,...,15.05,17.02,17.99,11.86,12.72,0.70,-,-,MLAS3,acoes
4,2021,-,8.84,-,1.71,7.94,8.34,8.39,8.80,4.89,...,16.06,15.98,19.33,11.60,15.44,0.73,-,-,MLAS3,acoes

## 1.4. Mapear valores ausente '-' para np.nan

In [13]:
fundamental_data.replace("-", np.NAN, inplace=True)

In [14]:
fundamental_data.head()

,Ano,D.Y,P/L,PEG RATIO,P/VP,EV/EBITDA,EV/EBIT,P/EBITDA,P/EBIT,VPA,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,ATUAL,2.16,52.51,0.21,3.62,18.83,26.84,16.68,23.76,3.28,...,32.46,14.69,6.90,2.44,4.62,0.17,NaN,NaN,ARML3,acoes
1,2021,0.26,155.96,NaN,8.14,50.52,71.83,49.20,69.96,3.22,...,33.21,14.90,5.22,1.77,3.24,0.12,NaN,NaN,ARML3,acoes
2,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.78,15.75,20.61,4.08,8.48,0.26,NaN,NaN,ARML3,acoes
3,ATUAL,2.90,4.63,0.28,0.83,4.96,5.29,4.91,5.23,5.09,...,15.05,17.02,17.99,11.86,12.72,0.70,NaN,NaN,MLAS3,acoes
4,2021,NaN,8.84,NaN,1.71,7.94,8.34,8.39,8.80,4.89,...,16.06,15.98,19.33,11.60,15.44,0.73,NaN,NaN,MLAS3,acoes

## 1.5. Mapear valores "ATUAL" para "2022"

In [15]:
fundamental_data.replace("ATUAL", "2022", inplace=True)

In [16]:
fundamental_data.head()

,Ano,D.Y,P/L,PEG RATIO,P/VP,EV/EBITDA,EV/EBIT,P/EBITDA,P/EBIT,VPA,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,2022,2.16,52.51,0.21,3.62,18.83,26.84,16.68,23.76,3.28,...,32.46,14.69,6.90,2.44,4.62,0.17,NaN,NaN,ARML3,acoes
1,2021,0.26,155.96,NaN,8.14,50.52,71.83,49.20,69.96,3.22,...,33.21,14.90,5.22,1.77,3.24,0.12,NaN,NaN,ARML3,acoes
2,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.78,15.75,20.61,4.08,8.48,0.26,NaN,NaN,ARML3,acoes
3,2022,2.90,4.63,0.28,0.83,4.96,5.29,4.91,5.23,5.09,...,15.05,17.02,17.99,11.86,12.72,0.70,NaN,NaN,MLAS3,acoes
4,2021,NaN,8.84,NaN,1.71,7.94,8.34,8.39,8.80,4.89,...,16.06,15.98,19.33,11.60,15.44,0.73,NaN,NaN,MLAS3,acoes

## 1.6. Converter números do tipo string para float ou int

In [17]:
for col in fundamental_data.columns:
    if col in ['Ticker', 'Tipo']:
        continue
        
    fundamental_data[col] = pd.to_numeric(fundamental_data[col])

In [18]:
fundamental_data.head()

,Ano,D.Y,P/L,PEG RATIO,P/VP,EV/EBITDA,EV/EBIT,P/EBITDA,P/EBIT,VPA,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,2022,2.16,52.51,0.21,3.62,18.83,26.84,16.68,23.76,3.28,...,32.46,14.69,6.90,2.44,4.62,0.17,NaN,NaN,ARML3,acoes
1,2021,0.26,155.96,NaN,8.14,50.52,71.83,49.20,69.96,3.22,...,33.21,14.90,5.22,1.77,3.24,0.12,NaN,NaN,ARML3,acoes
2,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.78,15.75,20.61,4.08,8.48,0.26,NaN,NaN,ARML3,acoes
3,2022,2.90,4.63,0.28,0.83,4.96,5.29,4.91,5.23,5.09,...,15.05,17.02,17.99,11.86,12.72,0.70,NaN,NaN,MLAS3,acoes
4,2021,NaN,8.84,NaN,1.71,7.94,8.34,8.39,8.80,4.89,...,16.06,15.98,19.33,11.60,15.44,0.73,NaN,NaN,MLAS3,acoes

In [19]:
fundamental_data.dtypes

Ano                       int64
D.Y                     float64
P/L                     float64
PEG RATIO               float64
P/VP                    float64
EV/EBITDA               float64
EV/EBIT                 float64
P/EBITDA                float64
P/EBIT                  float64
VPA                     float64
P/ATIVO                 float64
LPA                     float64
P/SR                    float64
P/CAP.GIRO              float64
P/ATIVO CIRC. LIQ.      float64
Dív. líquida/PL         float64
Dív. líquida/EBITDA     float64
Dív. líquida/EBIT       float64
PL/Ativos               float64
Passivos/Ativos         float64
Liq. corrente           float64
M. Bruta                float64
M. EBITDA               float64
M. EBIT                 float64
M. Líquida              float64
ROE                     float64
ROA                     float64
ROIC                    float64
Giro ativos             float64
CAGR Receitas 5 anos    float64
CAGR Lucros 5 anos      float64
Ticker                   object
Tipo                     object
dtype: object

## 1.7. Lidar com valores ausentes

In [20]:
fundamental_data.shape

(11043, 33)

In [21]:
fundamental_data.isnull().sum()/fundamental_data.shape[0]

Ano                     0.000000
D.Y                     0.642217
P/L                     0.449968
PEG RATIO               0.773793
P/VP                    0.448429
EV/EBITDA               0.247306
EV/EBIT                 0.131577
P/EBITDA                0.584805
P/EBIT                  0.453319
VPA                     0.054876
P/ATIVO                 0.448248
LPA                     0.054061
P/SR                    0.456579
P/CAP.GIRO              0.494884
P/ATIVO CIRC. LIQ.      0.448791
Dív. líquida/PL         0.104863
Dív. líquida/EBITDA     0.207009
Dív. líquida/EBIT       0.055782
PL/Ativos               0.003351
Passivos/Ativos         0.003351
Liq. corrente           0.104682
M. Bruta                0.009689
M. EBITDA               0.194875
M. EBIT                 0.009689
M. Líquida              0.009689
ROE                     0.004437
ROA                     0.003351
ROIC                    0.056144
Giro ativos             0.003351
CAGR Receitas 5 anos    0.216608
CAGR Lucros 5 anos      0.410034
Ticker                  0.000000
Tipo                    0.000000
dtype: float64

### 1.7.1. Foi aplicado:
1. Remoção dos registros com mais de 50% de valores nulos;
2. Remoção das colunas com mais de 50% dae valores nulos;
3. Preenchimento dos demais valores nulos com a média de cada coluna.

In [22]:
fundamental_data.drop((fundamental_data.isnull().sum(axis=1)/fundamental_data.shape[1])[lambda x: x > 0.5].index, inplace=True)

In [23]:
fundamental_data.drop((fundamental_data.isnull().sum()/fundamental_data.shape[0])[lambda x: x > 0.5].index, axis=1, inplace=True)

In [24]:
fundamental_data.shape

(10744, 30)

In [25]:
for col in fundamental_data.columns:
    if col in ['Ano', 'Ticker', 'Tipo']:
        continue
    
    col_mean = fundamental_data[col].mean()
    fundamental_data[col].fillna(value=col_mean, inplace=True)

In [26]:
fundamental_data.isnull().sum()/fundamental_data.shape[0]

Ano                     0.0
P/L                     0.0
P/VP                    0.0
EV/EBITDA               0.0
EV/EBIT                 0.0
P/EBIT                  0.0
VPA                     0.0
P/ATIVO                 0.0
LPA                     0.0
P/SR                    0.0
P/CAP.GIRO              0.0
P/ATIVO CIRC. LIQ.      0.0
Dív. líquida/PL         0.0
Dív. líquida/EBITDA     0.0
Dív. líquida/EBIT       0.0
PL/Ativos               0.0
Passivos/Ativos         0.0
Liq. corrente           0.0
M. Bruta                0.0
M. EBITDA               0.0
M. EBIT                 0.0
M. Líquida              0.0
ROE                     0.0
ROA                     0.0
ROIC                    0.0
Giro ativos             0.0
CAGR Receitas 5 anos    0.0
CAGR Lucros 5 anos      0.0
Ticker                  0.0
Tipo                    0.0
dtype: float64

In [27]:
fundamental_data.reset_index(drop=True, inplace=True)

In [28]:
fundamental_data.to_csv('preprocessing_result_DF.csv', index=False)

# 2. Segunda base de dados
## 2.1. Identificando problemas na base de dados
Os problemas identificados foram:

1. Existem registros com valores vazios;
2. Datas não estão com tipo correto (datetime).

In [29]:
prices_data = pd.read_csv('cotacoes_historicas.csv')
prices_data.drop('Unnamed: 0', axis=1, inplace=True)

In [30]:
prices_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Tipo
0,2021-08-01,22.010000,26.200001,19.219999,20.540001,20.209286,18674400.0,ARML3,acoes
1,2021-09-01,20.000000,21.959999,18.010000,19.340000,19.028606,12384600.0,ARML3,acoes
2,2021-10-01,19.120001,25.260000,19.010000,20.000000,19.677980,15199800.0,ARML3,acoes
3,2021-11-01,20.160000,27.260000,19.590000,21.650000,21.301413,15707800.0,ARML3,acoes
4,2021-12-01,21.889999,27.750000,20.030001,26.760000,26.398228,18606200.0,ARML3,acoes

In [31]:
prices_data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
Ticker        object
Tipo          object
dtype: object

In [32]:
prices_data.isnull().sum()/prices_data.shape[0]

Date         0.000000
Open         0.129597
High         0.129597
Low          0.129597
Close        0.129597
Adj Close    0.129597
Volume       0.129597
Ticker       0.000000
Tipo         0.000000
dtype: float64

## 2.1. Converter data do tipo string para datetime

In [33]:
prices_data['Date'] = pd.to_datetime(prices_data['Date'])

In [34]:
prices_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Tipo
0,2021-08-01,22.010000,26.200001,19.219999,20.540001,20.209286,18674400.0,ARML3,acoes
1,2021-09-01,20.000000,21.959999,18.010000,19.340000,19.028606,12384600.0,ARML3,acoes
2,2021-10-01,19.120001,25.260000,19.010000,20.000000,19.677980,15199800.0,ARML3,acoes
3,2021-11-01,20.160000,27.260000,19.590000,21.650000,21.301413,15707800.0,ARML3,acoes
4,2021-12-01,21.889999,27.750000,20.030001,26.760000,26.398228,18606200.0,ARML3,acoes

In [35]:
prices_data.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume              float64
Ticker               object
Tipo                 object
dtype: object

## 2.2. Lidar com valores ausentes
### Foi aplicado:
1. Remoção dos registros com mais de 50% de valores nulos.

In [36]:
prices_data.shape

(83806, 9)

In [37]:
prices_data.drop((prices_data.isnull().sum(axis=1)/prices_data.shape[1])[lambda x: x > 0.5].index, inplace=True)

In [38]:
prices_data.shape

(72945, 9)

In [39]:
prices_data.isnull().sum()/prices_data.shape[0]

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
Ticker       0.0
Tipo         0.0
dtype: float64

In [40]:
prices_data.reset_index(drop=True, inplace=True)

In [41]:
prices_data.to_csv('preprocessing_result_CH.csv', index=False)