In [1]:
import numpy as np
import pandas as pd

In [2]:
fundamental_data = pd.read_csv('preprocessing_result_DF.csv')
prices_data = pd.read_csv('preprocessing_result_CH.csv')
prices_data['Date'] = pd.to_datetime(prices_data['Date'])

In [3]:
fundamental_data.head()

,Ano,P/L,P/VP,EV/EBITDA,EV/EBIT,P/EBIT,VPA,P/ATIVO,LPA,P/SR,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,2022,52.510000,3.620000,18.830000,26.840000,23.760000,3.280000,1.28000,0.230000,7.710000,...,32.46,14.69,6.90,2.44,4.62,0.17,8.991379,13.030696,ARML3,acoes
1,2021,155.960000,8.140000,50.520000,71.830000,69.960000,3.220000,2.76000,0.170000,23.230000,...,33.21,14.90,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes
2,2020,30.142963,109960.051989,16.605213,56.735173,39.367565,46.131401,4.14354,2.637188,7.512599,...,35.78,15.75,20.61,4.08,8.48,0.26,8.991379,13.030696,ARML3,acoes
3,2022,4.630000,0.830000,4.960000,5.290000,5.230000,5.090000,0.55000,0.920000,0.790000,...,15.05,17.02,17.99,11.86,12.72,0.70,8.991379,13.030696,MLAS3,acoes
4,2021,8.840000,1.710000,7.940000,8.340000,8.800000,4.890000,1.03000,0.940000,1.410000,...,16.06,15.98,19.33,11.60,15.44,0.73,8.991379,13.030696,MLAS3,acoes

In [4]:
prices_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Tipo
0,2021-08-01,22.010000,26.200001,19.219999,20.540001,20.209286,18674400.0,ARML3,acoes
1,2021-09-01,20.000000,21.959999,18.010000,19.340000,19.028606,12384600.0,ARML3,acoes
2,2021-10-01,19.120001,25.260000,19.010000,20.000000,19.677980,15199800.0,ARML3,acoes
3,2021-11-01,20.160000,27.260000,19.590000,21.650000,21.301413,15707800.0,ARML3,acoes
4,2021-12-01,21.889999,27.750000,20.030001,26.760000,26.398228,18606200.0,ARML3,acoes

## 1. Remover registros de dados fundamentalistas de 2022
Será utilizado a cotação de ,no mínimo, um ano depois de cada registro de dados fundamentalista. Será removido os registros de 2022 porque não cotação de 2023 ou mais.

In [5]:
fundamental_data.where(fundamental_data['Ano'] != 2022, inplace=True)
fundamental_data.dropna(inplace=True)
fundamental_data.reset_index(drop=True, inplace=True)

In [6]:
fundamental_data.head()

,Ano,P/L,P/VP,EV/EBITDA,EV/EBIT,P/EBIT,VPA,P/ATIVO,LPA,P/SR,...,M. EBIT,M. Líquida,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo
0,2021.0,155.960000,8.140000,50.520000,71.830000,69.960000,3.220000,2.76000,0.170000,23.230000,...,33.21,14.90,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes
1,2020.0,30.142963,109960.051989,16.605213,56.735173,39.367565,46.131401,4.14354,2.637188,7.512599,...,35.78,15.75,20.61,4.08,8.48,0.26,8.991379,13.030696,ARML3,acoes
2,2021.0,8.840000,1.710000,7.940000,8.340000,8.800000,4.890000,1.03000,0.940000,1.410000,...,16.06,15.98,19.33,11.60,15.44,0.73,8.991379,13.030696,MLAS3,acoes
3,2020.0,30.142963,109960.051989,16.605213,56.735173,39.367565,46.131401,4.14354,2.637188,7.512599,...,18.45,15.62,29.15,9.48,22.95,0.61,8.991379,13.030696,MLAS3,acoes
4,2019.0,30.142963,109960.051989,16.605213,56.735173,39.367565,46.131401,4.14354,2.637188,7.512599,...,11.55,12.12,20.12,12.03,15.77,0.99,8.991379,13.030696,MLAS3,acoes

## 2. Mesclar a duas bases de dados

In [7]:
fundamental_data.shape

(9580, 30)

In [8]:
prices_data['Year'] = prices_data['Date'].dt.year
prices_data['Month'] = prices_data['Date'].dt.month

In [9]:
fundamental_data.rename(columns = {'Ano': 'Year'}, inplace=True)

In [10]:
stocks_data = fundamental_data.merge(prices_data, on=['Ticker', 'Year', 'Tipo']).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)

In [11]:
stocks_data.head()

,Year,P/L,P/VP,EV/EBITDA,EV/EBIT,P/EBIT,VPA,P/ATIVO,LPA,P/SR,...,ROE,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo,Open,Month
0,2021.0,155.96,8.14,50.52,71.83,69.96,3.22,2.76,0.17,23.23,...,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes,22.010000,8
1,2021.0,155.96,8.14,50.52,71.83,69.96,3.22,2.76,0.17,23.23,...,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes,20.000000,9
2,2021.0,155.96,8.14,50.52,71.83,69.96,3.22,2.76,0.17,23.23,...,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes,19.120001,10
3,2021.0,155.96,8.14,50.52,71.83,69.96,3.22,2.76,0.17,23.23,...,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes,20.160000,11
4,2021.0,155.96,8.14,50.52,71.83,69.96,3.22,2.76,0.17,23.23,...,5.22,1.77,3.24,0.12,8.991379,13.030696,ARML3,acoes,21.889999,12

## 3. Calcular atributos alvo da aplicação das técnicas de apredizado de máquina
Foi calculado o preço em 1,2,3,4,5 e 10 anos.

In [12]:
prices_after_1_year = prices_data.copy()
prices_after_2_years = prices_data.copy()
prices_after_3_years = prices_data.copy()
prices_after_4_years = prices_data.copy()
prices_after_5_years = prices_data.copy()
prices_after_10_years = prices_data.copy()

In [13]:
prices_after_1_year['Year'] = prices_after_1_year['Year'] - 1
prices_after_2_years['Year'] = prices_after_2_years['Year'] - 2
prices_after_3_years['Year'] = prices_after_3_years['Year'] - 3
prices_after_4_years['Year'] = prices_after_4_years['Year'] - 4
prices_after_5_years['Year'] = prices_after_5_years['Year'] - 5
prices_after_10_years['Year'] = prices_after_10_years['Year'] - 10

In [14]:
stock_data_1_year = stocks_data.merge(prices_after_1_year, on=['Ticker', 'Year', 'Month', 'Tipo'], suffixes=('_0', '_1')).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
stock_data_2_years = stocks_data.merge(prices_after_2_years, on=['Ticker', 'Year', 'Month', 'Tipo'], suffixes=('_0', '_1')).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
stock_data_3_years = stocks_data.merge(prices_after_3_years, on=['Ticker', 'Year', 'Month', 'Tipo'], suffixes=('_0', '_1')).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
stock_data_4_years = stocks_data.merge(prices_after_4_years, on=['Ticker', 'Year', 'Month', 'Tipo'], suffixes=('_0', '_1')).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
stock_data_5_years = stocks_data.merge(prices_after_5_years, on=['Ticker', 'Year', 'Month', 'Tipo'], suffixes=('_0', '_1')).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
stock_data_10_years = stocks_data.merge(prices_after_10_years, on=['Ticker', 'Year', 'Month', 'Tipo'], suffixes=('_0', '_1')).drop(['Date', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)

In [15]:
stock_data_1_year.head()

,Year,P/L,P/VP,EV/EBITDA,EV/EBIT,P/EBIT,VPA,P/ATIVO,LPA,P/SR,...,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo,Open_0,Month,Open_1
0,2021.0,-6.64,0.95,0.410000,0.40,-5.23,5.71,0.89,-0.82,4.360000,...,-13.37,-18.17,0.2,8.991379,13.030696,NINJ3,acoes,20.030001,6,3.74
1,2021.0,13.23,2.38,16.605213,11.31,11.47,3.52,2.35,0.63,7.512599,...,17.80,17.86,0.0,8.991379,11.720000,CXSE3,acoes,10.100000,5,7.81
2,2021.0,13.23,2.38,16.605213,11.31,11.47,3.52,2.35,0.63,7.512599,...,17.80,17.86,0.0,8.991379,11.720000,CXSE3,acoes,12.250000,6,7.86
3,2021.0,26.50,4.83,16.605213,18.08,17.38,3.29,1.60,0.60,1.600000,...,6.05,10.32,1.0,8.991379,13.030696,GGPS3,acoes,12.800000,5,14.95
4,2021.0,26.50,4.83,16.605213,18.08,17.38,3.29,1.60,0.60,1.600000,...,6.05,10.32,1.0,8.991379,13.030696,GGPS3,acoes,17.190001,6,13.72

## 4. Manter Apenas 1 registro por ano e ticker, selecionando o primeiro valor do ano

In [16]:
first_month_1_year = stock_data_1_year[['Year', 'Ticker', 'Tipo', 'Month']].groupby(['Year', 'Ticker', 'Tipo']).min()
first_month_2_years = stock_data_2_years[['Year', 'Ticker', 'Tipo', 'Month']].groupby(['Year', 'Ticker', 'Tipo']).min()
first_month_3_years = stock_data_3_years[['Year', 'Ticker', 'Tipo', 'Month']].groupby(['Year', 'Ticker', 'Tipo']).min()
first_month_4_years = stock_data_4_years[['Year', 'Ticker', 'Tipo', 'Month']].groupby(['Year', 'Ticker', 'Tipo']).min()
first_month_5_years = stock_data_5_years[['Year', 'Ticker', 'Tipo', 'Month']].groupby(['Year', 'Ticker', 'Tipo']).min()
first_month_10_years = stock_data_10_years[['Year', 'Ticker', 'Tipo', 'Month']].groupby(['Year', 'Ticker', 'Tipo']).min()

In [17]:
first_month_1_year.head()

                     Month
Year   Ticker Tipo
2013.0 AAPL34 bdrs       1
       ABTT34 bdrs       1
       AFLT3  acoes      1
       AGRO3  acoes      1
       ALSO3  acoes      1

In [18]:
def is_min(row, group_by):
    return row['Month'] == group_by.loc[row['Year'], row['Ticker'], row['Tipo']]['Month']

In [19]:
stock_data_1_year = stock_data_1_year[stock_data_1_year.apply(lambda x: is_min(x, first_month_1_year), axis=1)].reset_index(drop=True)
stock_data_2_years = stock_data_2_years[stock_data_2_years.apply(lambda x: is_min(x, first_month_2_years), axis=1)].reset_index(drop=True)
stock_data_3_years = stock_data_3_years[stock_data_3_years.apply(lambda x: is_min(x, first_month_3_years), axis=1)].reset_index(drop=True)
stock_data_4_years = stock_data_4_years[stock_data_4_years.apply(lambda x: is_min(x, first_month_4_years), axis=1)].reset_index(drop=True)
stock_data_5_years = stock_data_5_years[stock_data_5_years.apply(lambda x: is_min(x, first_month_5_years), axis=1)].reset_index(drop=True)
stock_data_10_years = stock_data_10_years[stock_data_10_years.apply(lambda x: is_min(x, first_month_10_years), axis=1)].reset_index(drop=True)

In [20]:
stock_data_1_year.head()

,Year,P/L,P/VP,EV/EBITDA,EV/EBIT,P/EBIT,VPA,P/ATIVO,LPA,P/SR,...,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Ticker,Tipo,Open_0,Month,Open_1
0,2021.0,-6.64,0.95,0.410000,0.40,-5.23,5.71,0.89,-0.82,4.360000,...,-13.37,-18.17,0.20,8.991379,13.030696,NINJ3,acoes,20.030001,6,3.74
1,2021.0,13.23,2.38,16.605213,11.31,11.47,3.52,2.35,0.63,7.512599,...,17.80,17.86,0.00,8.991379,11.720000,CXSE3,acoes,10.100000,5,7.81
2,2021.0,26.50,4.83,16.605213,18.08,17.38,3.29,1.60,0.60,1.600000,...,6.05,10.32,1.00,8.991379,13.030696,GGPS3,acoes,12.800000,5,14.95
3,2021.0,35.62,3.15,17.650000,20.61,21.30,4.29,1.26,0.38,5.040000,...,3.54,6.03,0.25,8.991379,13.030696,MATD3,acoes,16.610001,6,9.36
4,2021.0,5.50,1.05,2.610000,3.06,3.89,16.22,0.35,3.09,0.280000,...,6.36,20.12,1.27,8.991379,13.030696,ALLD3,acoes,18.889999,5,13.67

In [21]:
print("After 1 year: {}".format(stock_data_1_year.shape))
print("After 2 years: {}".format(stock_data_2_years.shape))
print("After 3 years: {}".format(stock_data_3_years.shape))
print("After 4 years: {}".format(stock_data_4_years.shape))
print("After 5 years: {}".format(stock_data_5_years.shape))
print("After 10 years: {}".format(stock_data_10_years.shape))

After 1 year: (4893, 33)
After 2 years: (3718, 33)
After 3 years: (2801, 33)
After 4 years: (2353, 33)
After 5 years: (1914, 33)
After 10 years: (0, 33)

In [22]:
# stock_data_1_year['Open_dif'] = stock_data_1_year['Open_1'] - stock_data_1_year['Open_0']
# stock_data_2_years['Open_dif'] = stock_data_2_years['Open_1'] - stock_data_2_years['Open_0']
# stock_data_3_years['Open_dif'] = stock_data_3_years['Open_1'] - stock_data_3_years['Open_0']
# stock_data_4_years['Open_dif'] = stock_data_4_years['Open_1'] - stock_data_4_years['Open_0']
# stock_data_5_years['Open_dif'] = stock_data_5_years['Open_1'] - stock_data_5_years['Open_0']

In [23]:
stock_data_1_year['years_dif'] = 1
stock_data_2_years['years_dif'] = 2
stock_data_3_years['years_dif'] = 3
stock_data_4_years['years_dif'] = 4
stock_data_5_years['years_dif'] = 5

## 5. Mesclar todas as bases de dados em uma única

In [24]:
stock_data = pd.concat([stock_data_1_year, stock_data_2_years, stock_data_3_years, stock_data_4_years, stock_data_5_years])

## 6. Remover "Year", "Month" e "Ticker"

In [25]:
stock_data_1_year.drop(['Year', 'Month', 'Ticker', 'years_dif'], axis=1, inplace=True)
stock_data_2_years.drop(['Year', 'Month', 'Ticker', 'years_dif'], axis=1, inplace=True)
stock_data_3_years.drop(['Year', 'Month', 'Ticker', 'years_dif'], axis=1, inplace=True)
stock_data_4_years.drop(['Year', 'Month', 'Ticker', 'years_dif'], axis=1, inplace=True)
stock_data_5_years.drop(['Year', 'Month', 'Ticker', 'years_dif'], axis=1, inplace=True)
stock_data.drop(['Year', 'Month', 'Ticker'], axis=1, inplace=True)

## 7. Mapear coluna "Tipo" para inteiro

In [26]:
stock_data_1_year = stock_data_1_year.join(pd.get_dummies(stock_data_1_year['Tipo'])).drop('Tipo', axis=1)
stock_data_2_years = stock_data_2_years.join(pd.get_dummies(stock_data_2_years['Tipo'])).drop('Tipo', axis=1)
stock_data_3_years = stock_data_3_years.join(pd.get_dummies(stock_data_3_years['Tipo'])).drop('Tipo', axis=1)
stock_data_4_years = stock_data_4_years.join(pd.get_dummies(stock_data_4_years['Tipo'])).drop('Tipo', axis=1)
stock_data_5_years = stock_data_5_years.join(pd.get_dummies(stock_data_5_years['Tipo'])).drop('Tipo', axis=1)
stock_data = stock_data.join(pd.get_dummies(stock_data['Tipo'])).drop('Tipo', axis=1)

In [27]:
stock_data.shape

(63749, 32)

In [28]:
stock_data.head()

,P/L,P/VP,EV/EBITDA,EV/EBIT,P/EBIT,VPA,P/ATIVO,LPA,P/SR,P/CAP.GIRO,...,ROA,ROIC,Giro ativos,CAGR Receitas 5 anos,CAGR Lucros 5 anos,Open_0,Open_1,years_dif,acoes,bdrs
0,-6.64,0.95,0.41,0.4,-5.23,5.71,0.89,-0.82,4.36,0.97,...,-13.37,-18.17,0.2,8.991379,13.030696,20.030001,3.74,1,1,0
0,-6.64,0.95,0.41,0.4,-5.23,5.71,0.89,-0.82,4.36,0.97,...,-13.37,-18.17,0.2,8.991379,13.030696,20.030001,3.74,1,1,0
0,-6.64,0.95,0.41,0.4,-5.23,5.71,0.89,-0.82,4.36,0.97,...,-13.37,-18.17,0.2,8.991379,13.030696,20.030001,3.74,1,1,0
0,-6.64,0.95,0.41,0.4,-5.23,5.71,0.89,-0.82,4.36,0.97,...,-13.37,-18.17,0.2,8.991379,13.030696,20.030001,3.74,1,1,0
0,-6.64,0.95,0.41,0.4,-5.23,5.71,0.89,-0.82,4.36,0.97,...,-13.37,-18.17,0.2,8.991379,13.030696,20.030001,3.74,1,1,0

In [29]:
stock_data_1_year.to_csv('transformation_result_1_year_SD.csv', index=False)
stock_data_2_years.to_csv('transformation_result_2_year_SD.csv', index=False)
stock_data_3_years.to_csv('transformation_result_3_year_SD.csv', index=False)
stock_data_4_years.to_csv('transformation_result_4_year_SD.csv', index=False)
stock_data_5_years.to_csv('transformation_result_5_year_SD.csv', index=False)
stock_data.to_csv('transformation_result_SD.csv', index=False)